.Home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21262F;
  height: 100vh;
  width: 100vw;
}

.Home__logo {
  fill: rgba(0, 0, 0, 0.4);
  transform: translate3d(0, 45px, 0);
  animation: logo--intro 1.4s cubic-bezier(0.4, 0.0, 0.2, 1) 0.5s forwards;
}

.Home__beta-tag {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  background: rgba(41, 121, 255, 0.2);
  display: block;
  padding: 3px 10px;
  color: rgba(41, 121, 255, 1);
  border-radius: 80px;
}

.Home__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transform: translate3d(0, -40px, 0);
  animation: text--intro 1s cubic-bezier(0.4, 0.0, 0.2, 1) 1.3s forwards;
}

.Home__title {
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  margin: 0;
  margin-right: 5px;
}

.Home__subheading {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
  margin: 0;
  opacity: 0;
  transform: translate3d(0, -40px, 0);
  animation: text--intro 1s cubic-bezier(0.4, 0.0, 0.2, 1) 1.5s forwards;
}

@keyframes logo--intro {
  0% {
    fill: rgba(0, 0, 0, 0.4);
    transform: translate3d(0, 45px, 0);
  }
  50% {
    fill: rgba(41, 121, 255, 1);
    transform: translate3d(0, 45px, 0);
  }
  100% {
    fill: rgba(41, 121, 255, 1);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes text--intro {
  0% {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
