.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.Container {
  flex: 1 0 auto;
}

.backgroundHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 700px;
  background: url(../images/homeBackground.jpg);
  background-size: cover;
  background-position: -30px center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.backgroundHeader:before {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    radial-gradient(
      closest-side at 50% 300px,
      rgba(33, 38, 47, 0),
      rgba(33, 38, 47, 1));
}

.MainHero {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
}

@media (max-width: 780px) {
  .MainHero {
    flex-direction: column;
  }
}

.MainHero__details {
  max-width: 440px;
  padding: 100px 0;
}

@media (max-width: 1000px) {
  .MainHero__details {
    padding: 100px 20px;
  }
}

@media (max-width: 780px) {
  .MainHero__details {
    justify-content: center;
    text-align: center;
    max-width: none;
    padding-top: 40px;
    padding: 0 20px;
  }
}

.MainHero__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 780px) {
  .MainHero__logo {
    justify-content: center;
  }
}

.MainHero__logo-icon {
  width: 62px;
  margin-right: 16px;
}

.MainHero__logo-text {
  font-size: 24px;
  font-weight: 300;
}

.MainHero__title {
  font-size: 42px;
  font-weight: 400;
  margin: 30px 0 20px;
}

@media (max-width: 400px) {
  .MainHero__title {
    font-size: 32px;
  }
}


.MainHero__description {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.4;
  max-width: 400px;
}

@media (max-width: 780px) {
  .MainHero__description {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}

.MainHero__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .MainHero__actions {
    justify-content: center;
  }
}

.MainHero__image {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
}

@media (max-width: 780px) {
  .MainHero__image {
    justify-content: center;
    margin-top: 80px;
  }
}

.PhoneContainer {
  display: flex;
  height: 500px;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 80px;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .PhoneContainer {
    padding: 0 20px 0;
  }
}

@media (max-width: 780px) {
  .PhoneContainer {
    padding: 0 20px;
    justify-content: center;
    height: 480px;
  }
}

@media (max-width: 400px) {
  .PhoneContainer {
    height: 440px;
  }
}

.PhoneContainer:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(rgba(33, 38, 47, 0), rgba(33, 38, 47, 1));
  height: 240px;
}

.PhoneContainer__phone {
  display: flex;
  background: linear-gradient(#2E3747, #21262F);
  border-radius: 50px;
  width: 100%;
  max-width: 348px;
  height: 686px;
  box-shadow:
    0 40px 50px rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 21, 64, 0.5),
    0 2px 6px rgba(0, 21, 64, 0.15),
    inset 0 -5px 38px rgba(33, 38, 47, 1),
    inset 0 4px 7px 1px rgba(0, 0, 0, 0.23);
}

@media (max-width: 780px) {
  .PhoneContainer__phone {
    height: 600px;
  }
}

@media (max-width: 400px) {
  .PhoneContainer__phone {
    height: 540px;
  }
}


.PhoneContainer__screen {
  flex: 1 0 auto;
  margin: 74px 22px;
  background-image: url(../images/homeScreenshot@2x.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px #21262F;
  border-radius: 4px;
}

@media (min-device-pixel-ratio: 3) {
  .PhoneContainer__screen { background-image: url(../images/homeScreenshot@3x.png); }
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex: 1 0 auto;
  position: relative;
  align-items: flex-end;
}

.Footer__item,
.Footer__link {
  margin: 15px;
  display: block;
  font-size: 14px;
}

.Footer__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.Footer__item {
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 600px) {
  .Footer {
    flex-direction: column;
    padding-bottom: 60px;
    height: auto;
    align-items: center;
    justify-content: flex-end;
  }
}
