.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.Home__text-section {
  max-width: 1040px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 90px;
  text-align: center;
  flex-direction: column;
}

.Home__text-section-title {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 15px;
}

.Home__text-section-description {
  font-size: 16px;
  max-width: 435px;
  margin: 0;
  line-height: 1.4;
}

.Container {
  flex: 1 0 auto;
}

.backgroundHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 600px;
  background: url(../images/home-background.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@media (max-width: 780px) {
  .backgroundHeader {
    background-position: top left;
  }
}

.backgroundHeader:before {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  background:
    radial-gradient(
      closest-side at 50% 300px,
      rgba(33, 38, 47, 0),
      rgba(33, 38, 47, 1));
}

.MainHero {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
}

@media (max-width: 780px) {
  .MainHero {
    flex-direction: column;
  }
}

.MainHero__details {
  max-width: 450px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1000px) {
  .MainHero__details {
    padding: 100px 20px;
  }
}

@media (max-width: 780px) {
  .MainHero__details {
    justify-content: center;
    text-align: center;
    max-width: none;
    padding-top: 40px;
    padding: 0 20px;
  }
}

.MainHero__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 780px) {
  .MainHero__logo {
    justify-content: center;
  }
}

.MainHero__logo-icon {
  width: 62px;
  margin-right: 16px;
}

.MainHero__logo-text {
  font-size: 24px;
  font-weight: 300;
}

.MainHero__title {
  font-size: 42px;
  font-weight: 400;
  margin: 30px 0 20px;
}

@media (max-width: 400px) {
  .MainHero__title {
    font-size: 32px;
  }
}

.MainHero__description {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.4;
}

@media (max-width: 780px) {
  .MainHero__description {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}

.MainHero__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 780px) {
  .MainHero__actions {
    justify-content: center;
  }
}

.MainHero__image {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;
}

@media (max-width: 780px) {
  .MainHero__image {
    justify-content: center;
    margin-top: 80px;
  }
}

.PhoneContainer {
  display: flex;
  height: 560px;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1000px) {
  .PhoneContainer {
    padding: 0 20px 0;
  }
}

@media (max-width: 780px) {
  .PhoneContainer {
    padding: 0 20px;
    justify-content: center;
    height: 480px;
  }
}

@media (max-width: 400px) {
  .PhoneContainer {
    height: 440px;
  }
}

.PhoneContainer:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(rgba(33, 38, 47, 0), rgba(33, 38, 47, 1));
  height: 240px;
  pointer-events: none;
  z-index: 1;
}

.PhoneContainer__phone {
  display: flex;
  position: relative;
  background: linear-gradient(#2E3747, #21262F);
  justify-content: center;
  border-radius: 50px;
  width: 100%;
  max-width: 348px;
  height: 686px;
  box-shadow:
    0 40px 50px rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 21, 64, 0.5),
    0 2px 6px rgba(0, 21, 64, 0.15),
    inset 0 -5px 38px rgba(33, 38, 47, 1),
    inset 0 4px 7px 1px rgba(0, 0, 0, 0.23);
}

.PhoneContainer__phone:before {
  content: '';
  height: 6px;
  width: 60px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: absolute;
  top: 36px;
  left: 50%;
  margin-left: -30px;
}

@media (max-width: 780px) {
  .PhoneContainer__phone {
    height: 600px;
  }
}

@media (max-width: 400px) {
  .PhoneContainer__phone {
    height: 540px;
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .PhoneContainer__phone {
    max-width: 280px;
  }
}

.PhoneContainer__screen {
  flex: 1 0 auto;
  padding: 74px 22px;
  border-radius: 4px;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}

.PhoneContainer__video {
  flex: 1 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 0 0 0 2px #21262F;
  border-radius: 4px;
  object-fit: cover;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex: 1 0 auto;
  position: relative;
  align-items: flex-end;
}

.Footer__item,
.Footer__link {
  margin: 15px;
  display: block;
  font-size: 14px;
}

.Footer__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.Footer__item {
  color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 600px) {
  .Footer {
    flex-direction: column;
    padding-bottom: 60px;
    height: auto;
    align-items: center;
    justify-content: flex-end;
  }
}

.Home__cards {
  max-width: 1040px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px auto 120px;
  padding: 0 10px;
}

.ImageCard {
  flex: 1 0 calc(33.33% - 20px);
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background: #1A1D23;
  position: relative;
  margin: 0 10px 20px;
}

@media (max-width: 800px) {
  .ImageCard {
    flex: 1 0 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .ImageCard {
    flex: 1 0 calc(100% - 20px);
  }
}

.ImageCard--shadow {
  box-shadow:
    0 2px 11px 0 rgba(0, 0, 0, 0.25),
    0 26px 47px 0 rgba(0, 0, 0, 0.2);
}

.ImageCard--noImage .ImageCard__image {
  opacity: 0;
}

.ImageCard__image {
  object-fit: cover;
  flex: 1 0 auto;
  max-width: 100%;
  border-radius: 6px;
  opacity: 0.3;
}

.ImageCard__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.ImageCard__logo {
  height: 90px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageCard__description {
  text-align: center;
  font-size: 16px;
  color: white;
  line-height: 1.4;
}
