.Article {
  max-width: 800px;
  padding: 80px 20px;
  margin: 0 auto;
  color: rgba(var(--color-text), 0.7);
  box-sizing: border-box;
  line-height: 1.4;
}

.Article__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 80px;
}

.Article h1,
.Article h2,
.Article h3,
.Article h4 {
  color: rgba(var(--color-text), 0.9);
  font-weight: 400;
}

.Article h1 {
  font-size: 42px;
}

@media (max-width: 1000px) {
  .Article h1 {
    font-size: 32px;
  }
}

.Article h2 {
  font-size: 24px;
  margin-top: 50px;
}

.Article h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
}

.Article a,
.Article a:visited {
  color: rgba(var(--color-primary), 1);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.Article a:hover {
  background: rgba(var(--color-primary), 0.2);
}
