.Footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.Footer__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  position: relative;
  align-items: flex-end;
}

@media (max-width: 600px) {
  .Footer__row {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: flex-end;
  }
}

.Footer__item,
.Footer__link {
  margin: 15px;
  display: block;
  font-size: 14px;
}

.Footer__link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.Footer__item {
  color: rgba(255, 255, 255, 0.4);
}
