.Loader {
  fill: rgba(var(--color-black), 0.4);
  animation: loader--pulse 1.4s var(--curve-fastout-slowin) 0.5s infinite alternate;
}

@keyframes loader--pulse {
  0% {
    fill: rgba(var(--color-black), 0.4);
  }
  100% {
    fill: rgba(var(--color-primary), 1);
  }
}
