html,
body {
  background-color: rgba(var(--color-background), 1)
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-stack);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: rgba(var(--color-primary), 0.4);
}
