:root {
  --font-stack: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --color-black: 0, 0, 0;
  --color-white: 255, 255, 255;
  --color-background: 33, 38, 47;
  --color-text: var(--color-white);
  --color-primary: 41, 121, 255;
  --bezier-fastout-slowin: cubic-bezier(0.4, 0.0, 0.2, 1);
}
